<div class="control">
  <ul class="clearfix">
    <li>
      <%= date %>
    </li>
    <li>
      <a href="#">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        いいね！（10）
      </a>
    </li>
    <li>
      <a href="#">
        <span class="glyphicon glyphicon-pencil"></span>
        コメントする（0）
      </a>
    </li>
  </ul>
</div>
