<h2>Bootstrapに合わせてヘッダとフッタを修正してみた</h2>
<p>
  とりあえずレイアウトファイル（views/layout/modern2.html.erb）を修正し、ヘッダとフッタだけ差し替えしてみた。これでメニュー項目はそれなりにマシになった印象。
  次はコンテンツ部分（views/modern2/index.html.erb）を修正していこうと思う
</p>


<hr/>

<h2>Bootstrapとかいうのを入れてみた</h2>
<p>
  見た目がダサいと周りからさんざん言われたので、Bootstrapとかいうのを入れてみた。
  どうやらこれを使うと
</p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Bootstrap Panelのてすと（ここがpanel-heading）</h3>
  </div>
  <div class="panel-body">
    こういうパネル表示ができるみたい（ここはpanel-body）
  </div>
  <div class="panel-footer">Panelにはフッタも設定できるっぽい（ここはpanel-footer）</div>
</div>

<p>
  こういうことが簡単にできるらしい。
  このページはまだ既存のHTMLにBootstrapを適用しただけなのでまだ表示が怪しい。
  次はまるっとBootstrapの流儀に従って書き直さないといけないな。
</p>

<h2>今日の日記</h2>
<p>
  日記書き始めたけど書くことないな。みんな何書いてるんだろう？
</p>

<hr/>

<h2>ブログはじめました</h2>
<p>
  今ナウなヤングの中でブログを始めるのが流行ってるらしいので、はじめてみました
</p>

<hr/>
